body {
  background-color: #fff;
  color: #333;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  line-height: 18px;
}

h1 {
  margin: 30px 0 15px 0;
  font-size: 3em;
}

#header h1 {
  float: left;
  margin-right: 50px;
}

h2 {
  font-size: 2.2em;
  margin: 0 0 5px 0;
}

h3 {
  font-size: 1.4em;
  margin: 0 0 5px 0;
}

h4 {
  margin: 0;
}

p {
  margin: 0 0 15px 0;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}



/* Lord Vader's Handle formerly Anakin */
a {
  color: #6D818F;
  text-decoration: none;
}
a:visited {
  color: #58636B;
}
a:hover {
  color: #24455D;
  text-decoration: none;
}
a:active {
  color: #A4B8C7;
}



div.clear {
  clear: both;
  line-height: 0;
  height: 0;
}



/* Layout */
div#container {
  margin: auto;
  width: 900px;
}

div#header {
  height: 80px;
}

div#login_info {
  float: right;
}

div#content {
  width: 780px;
  float: right;
}

div#main {
  float: left;
  width: 480px;
}

div#aux {
  float: right;
  width: 140px;
}
div#aux ul {
  margin: 0 0 0 10px;
}

div#secondary {
  width: 100px;
  float: left;
}

div#footer {
  clear: both;
  margin: 40px auto auto auto;
  width: 800px;
  font-size: .6em;
}



/* subject */
div.subject {
  margin-bottom: 25px;
  height: 40px;
}
div.subject p {
  margin: 0;
}
div.resource {
  margin-bottom: 15px;
}
div.resource p {
  margin: 0;
}
div.resource .votes {
  width: 40px;
  float: left;
  text-align: center;
}
div.resource .votes .net_votes {
  font-size: 2em;
  padding: 5px 0 5px 0;
}
div.resource .votes .up_votes a {
  text-decoration: none;
  background-image: url(../images/up.png);
  padding-left: 16px;
  background-repeat: no-repeat;
  float: left;
  background-position: 0px 1px;
  
}
div.resource .votes .down_votes a {
  text-decoration: none;
  background-image: url(../images/down.png);
  padding-left: 16px;
  background-repeat: no-repeat;
  float: left;
  background-position: 0px 1px;
}
div.resource .info {
  float: right;
  width: 350px;
}



div.form_chunk {
  margin: 0 0 15px 0;
}




.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

.notice {
  background-color: #9FFFA3;
  margin: 0 0 15px 0;
}

.error {
  background-color: #FF7F7F;
}


/*percent bar*/
.percent_whole {
  border: 1px solid black;
  background-color: #CCCCCC;
  width: 100px;
  height: .5em;
}

.percent_part {
  background-color: #6D818F;
  height: .5em;
}

.feature_spot {
  width: 50%;
  float: left;
  margin-bottom: 60px;
}

.breadcrumb {
  margin-bottom: 20px;
}

#search {
  margin-top: 30px
}
