<p>
  <h2>Subjects tagged <%=h @tag.name %>:</h2>
</p>
<br/>
<%- if @subjects.empty? %>
  No subjects
<%- else %>
  <ul>
  <%- @subjects.each do |subject| %>
    <li><%= link_to subject.name, subject_path(subject) %></li>
  <%- end %>
  </ul>
<%- end %>


