
<%= render :partial => 'index/intro' %>

<p>
  The site is organized by the subjects that you would want to learn. Each subject will have
  resources, which are links to different tutorials, videos, articles, etc that will hopefully be
  a good place to learn that subject. There are some other goodies so you can learn what you need
  to know before you start, as well as what to do next when you finish with the current topic, but
  that is the basic structure.
</p>

<p>
  Lastly, the voting should weed out what resources are less than impressive, so don't be afraid
  to post an article!
</p>
