<p>I don't have any contact information set up at the moment, but you can check out the repo and probably snoop out some contact info from it at <%= link_to 'github', 'github.com/approaching236/manzanita' %></p>
